.panelcontainer {
  width: 400px;
  height: calc(100vh - 64px);
  overflow-y: scroll;
}

.notfound {
  margin-top: 30px;
  text-align: center;
}

.btnsummary {
  width: 100%;
}

::ng-deep.mat-tab-link,  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 60px !important;
}

mat-card {
  margin: 20px;
}

.formatCoord {
  font-size: 14px;
}
