<div *ngIf="listPolygon">
  <ng-container *ngFor="let item of listPolygon">
    <mat-card>
      <div class="cardContent" (click)="onCenterItem(item)">
        <div>{{ item.name }}</div>
        <div>{{ item.description }}</div>
      </div>
      <div class="actions">
        <button mat-mini-fab color="primary" (click)="onModifyItem(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="onDeleteItem(item)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </mat-card>
  </ng-container>
</div>
