mat-card {
  margin: 20px;
  height: 100px;
}

.formatCoord {
  font-size: 14px;
}

.cardContent {
  cursor: pointer;
  height: 40px;
}

.actions {
  margin-top: 10px;
}

.actions button {
  margin: 5px;
}
